:root {
    --box-shadow: 0px 0px 7px 0px #94a3b8;
    --btn-radius: 0.2rem;
    --box-radius: 0.5rem;
    --btn-opacity: 0.8;
    --home-footer: #1e293b;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin-top: 4rem;
}

.e_com_btn,
.horizontal_cart_btn {
    width: 12rem;
    border: none;
    color: white;
    font-size: medium;
    padding: 0.5rem;
    border-radius: var(--box-radius);
    display: flex;
    justify-content: center;
}

.e_com_btn:hover,
.addto_cart:hover,
.horizontal_cart_btn:hover {
    opacity: 0.9;
}

.horizontal_cart_btn,
.addto_cart {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.primary_selected_btn {
    background-color: var(--primary-color);

}

.secondary_selected_btn {
    background-color: var(--secondary-color);
}

.wishlist_btn {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.horizontal_card {
    background-color: white;
    box-shadow: var(--box-shadow);

}

input {
    outline: none;
}

.wishlist_icon_home_badge {
    position: absolute;
    top: 0.2rem;
    right: 7.9rem;
}

.cart_icon_home_badge {
    position: absolute;
    top: 0.2rem;
    right: 4.8rem;
}

@media screen and (max-width: 1000px) {
    .content {
        margin-top: 8rem;
    }
}